.timer h1 {
  font-size: 5rem;
  transition: font-size 0.5s;
}
body {
  background-color: rgba(70, 169, 255, 0.594);
}



.timer {
  text-align: center;
  transition: transform 0.5s; 
  margin-top: 300px;
}

.timer:hover {
  transform: scale(1.1);
}

.buttons button {
  margin: 0 5px;
  padding: 10px 20px;
  background-color: #033ddc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.buttons button:hover {
  background-color: #1b6cf9; 
}
